<?xml version="1.0" encoding="UTF-8"?>
<launch>
<!--arg name="world_name" default="map3"/-->
<arg name="world_name" default="4floor_0826_4"/>
<arg name="format" default="bt"/> <!--vxblx (voxblox) or bt (octomap)-->
<arg name="world_frame_id" default="/world"/>

	<node pkg="tf" type="static_transform_publisher" name="world2map" args="0 0 0 0 0 0 map world 100" />


	<!--visualization module-->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find chomp_predict)/rviz/rviz_chomp_predictor.rviz"/>	


	<!-- octomap server -->
	<node pkg="octomap_server" type="octomap_tracking_server_node" name="octomap_talker" output="screen" args="$(find chomp_predict)/worlds/$(arg world_name).bt"> 
	

	<!--node pkg="octomap_server" type="octomap_tracking_server_node" name="octomap_talker" output="screen"-->

		<param name="resolution" value="0.25" />
		<param name="frame_id" type="string" value="world" />
		<param name="sensor_model/max_range" value="4.0" />
		<param name="save_directory" value="$(optenv OCTOMAP_SAVE_DIR ./)" />
		<param name="track_changes" value="true"/>
		<param name="listen_changes" value="false"/>
		<param name="topic_changes" value="/octomap_tracking_server/changeset" />
		<!-- added by JBS -->
		
		<param name="height_map" value="false" />
		
		<param name="color/r" value="0.4" />
		<param name="color/g" value="0.4" />
		<param name="color/b" value="0.4" />
		<param name="color/a" value="0.3" />
		
		<param name="occupancy_max_z" value="" />
		<param name="occupancy_min_z" value="0.2" />
		<param name="filter_ground" value="true" />
		<param name="base_frame_id" value="/world" />
		
		<!--param name="change_id_frame" value="$(arg changeIdFrame)" /-->
		<param name="min_change_pub" value="0" />
		<!--In case of no bt file, let's -->
		<!--remap from="cloud_in" to="$(arg mav_name)/vi_sensor/camera_depth/depth/points" /-->
	</node>



	<!--prediction module(set map3.vxblx for voxblox map and map3.bt for octomap)-->

	<node name="chomp_predict_sim" pkg="chomp_predict" type="chomp_predict_node" output="screen">
		<!--comment one of the following two lines-->
		<param name= "map_file_name" value = "$(find chomp_predict)/worlds/$(arg world_name).$(arg format)" />
	    
		<rosparam command="load" file="$(find chomp_predict)/params/chomp_param_4floor.yaml" />		
		<param name="update_mesh_every_n_sec" value="10" /> <!--not used-->
		<param name="is_pose" value="false" /> <!--if target state received with point stamped, set false-->
		<remap from="/target_point" to ="/cicle_detector/target_position" /> <!--if target state received with point stamped, set false-->
	</node>

	<!--traj_gen for arbitaray target trajectory (no output will appear in terminal)-->
<!--
	<node pkg="traj_gen" type="traj_gen_client" name="traj_gen_ui">
		<param name="world_frame_id" value="$(arg world_frame_id)" />
		<remap from="/traj_gen_ui/control_pose" to="/target_pose" /> 
	</node>
-->
</launch>
