<?xml version="1.0" encoding="UTF-8"?>
<launch>
<arg name="world_name" default="map3"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find chomp_predict)/rviz/rviz_voxblox.rviz"/>	
	<node name="chomp_predict_standalone" pkg="chomp_predict" type="chomp_predict_basic_test_node" output="screen" args="$(find chomp_predict)/worlds/$(arg world_name).vxblx">
		<rosparam command="load" file="$(find chomp_predict)/params/chomp_param.yaml" />
	</node>
</launch>
